.consultation_forecast{
  .consultation__image{
    margin: -1.9rem -5% 0 4.2%;

    @include bp(md){
      margin: -5.7rem -1.1% 0 -5.2%;
    }

    @include bp(sm){
      margin: -1.1rem 5.2% 2.2rem -0.4rem;
    }
  }

  .consultation__box{
    margin-top: 5.8rem;

    @include bp(md){
      margin-top: 2.2rem;
    }

    @include bp(sm){
      margin-top: -0.7rem;
    }
  }
}

.consultation_forecast__line{
  margin: -3.5rem 0 -3.8rem -0.1rem;
  width: 9%;
  height: 22.2rem;
  border-bottom: 4px solid $primary;
  border-left: 4px solid $primary;
  border-right: none;

  @include bp(xxl){
    margin-top: 1.3rem;
  }

  @include bp(md){
    margin: 1.7rem -3.3rem -1.9rem -0.1rem;
    width: 2.5%;
    height: 11.1rem;
  }

  @include bp(sm){
    width: 0;
    margin: 0.3rem auto 1.1rem;
    height: 5.6rem;
  }

  &:before{
    left: auto;
    right: -0.9rem;

    @include bp(sm){
      right: -0.4rem;
    }
  }
}

// for-whom-section_forecast
.for-whom-section_forecast{
  &__line{
    margin: -0.6rem auto 3rem;

    @include bp(md){
      height: 7.4rem;
      margin: -2.2rem auto 2rem;
    }

    @include bp(sm){
      height: 4.8rem;
      margin: -3.3rem auto 1.2rem;
    }
  }

  .title{
    padding: 0 10%;

    @include bp(md){
      padding: 0 3%;
    }
  }

  .advantages-group{
    @include bp(sm){
      grid-gap: 4.9rem 0;
    }
  }

  .advantages-item{
    padding: 0 2rem 1rem 3rem;

    @include bp(md){
      padding: 0 1rem;
    }

    @include bp(sm){
      padding: 0 0.5rem;
    }

    &:nth-of-type(3){
      .advantages-item__title-md{
        @include bp(md){
          margin: 0 0 -0.4rem;
        }

        @include bp(sm){
          margin-top: -0.9rem;
        }
      }

      p{
        @include bp(md){
          margin-bottom: 0.3rem;
        }
      }
    }
  }

  .advantages-item__title-md{
    line-height: normal;
    margin: -0.1rem 0 1rem;
    min-height: 8rem;

    @include bp(md){
      min-height: 3.2rem;
      margin: 0.3rem 0 0;
      padding: 0 1rem;
    }
  }
}

.problems_forecast__box{
  line-height: 120%;
  padding: 5.4rem 6.5rem 4.7rem;

  @include bp(md){
    padding: 2.8rem 3rem 2.1rem;
    font-size: 1.6rem;
  }

  @include bp(sm){
    padding: 1.9rem 3rem 0.5rem;
  }

  p{
    margin-bottom: 0;

    @include bp(md){
      margin-bottom: 1.5rem;
    }
  }
}

// about-forecast
.about-forecast{
  @include bp(sm){
    display: flex;
    flex-direction: column-reverse;
  }

  &__line{
    @include bp(md){
      height: 7.4rem;
    }

    @include bp(sm){
      height: 5.4rem;
      margin: 0.4rem auto 1.2rem;
    }

    &-end{
      @include bp(md){
        margin: -0.5rem auto 1.6rem;
        height: 7.3rem;
      }

      @include bp(sm){
        order: 2;
        margin: 0.4rem auto 1.3rem;
        height: 5.4rem;
      }
    }
  }

  &__image{
    margin-bottom: 3.6rem;

    @include bp(md){
      margin-bottom: 1.6rem;
    }

    @include bp(sm){
      margin: 1.2rem 0 0;
    }

    img{
      @include bp(sm){
        min-height: 18rem;
        object-fit: cover;
      }
    }
  }

  &__text{
    padding: 0 0.5rem;

    @include bp(md){
      padding: 0;
    }

    p{
      @include bp(md){
        margin-bottom: 1.5rem;
      }

      @include bp(sm){
        margin-bottom: 1.3rem;
      }
    }
  }

  .title{
    padding-bottom: 0.5rem;

    @include bp(md){
      padding-bottom: 0.7rem;
    }

    @include bp(sm){
      padding-bottom: 0.4rem;
    }
  }
}

// work-section_forecast
.work-section_forecast{

  &__line{
    height: 16rem;
    flex-grow: 1;
    border-bottom: 4px solid #14918F;
    margin: 2.4rem -0.3rem 2.4rem 3%;

    @include bp(md){
      height: 11.1rem;
      margin: 1.1rem -0.1rem 1.1rem 4.3%;
    }

    @include bp(sm){
      height: 9.3rem;
      margin: 0.6rem -0.1rem 2.6rem auto;
      width: 32%;
      flex-shrink: 0;
    }

    &-end{
      height: 9.4rem;
      width: 0;
      margin: -3.5rem 0 3.4rem 13%;

      @include bp(md){
        margin: 1.5rem auto 1.8rem;
        height: 6.6rem;
      }

      @include bp(sm){
        height: 5.4rem;
        margin-bottom: 1.2rem;
      }
    }
  }

  .work-section__content{
    @include bp(lg-up){
      grid-template-columns: auto 36.8%;
    }
  }

  .work-section__text{
    padding: 1.9rem 0 0 2.7rem;

    @include bp(md){
      padding: 2.2rem 0 0 1.4rem;
    }

    @include bp(sm){
      padding: 0.5rem 0 0 0.9rem;
    }

    p{
      @include bp(lg-up){
        margin-top: 2.1rem;
      }
    }
  }

  .steps-list-item:not(:last-child){
    margin-bottom: 4rem;

    @include bp(sm){
      margin-bottom: 2.1rem;
    }
  }

  .steps-list-item__num{

    @include bp(lg-up){
      top: 1.3rem;
    }

    &::after{
      @include bp(sm){
        margin-top: 1.4rem;
      }
    }
  }

  .work-section__image{
    margin: 0.3rem -13% 0 -10.5%;

    @include bp(md){
      width: 49%;
      margin: -1.4rem auto 0;
    }

    @include bp(sm){
      width: 71%;
      margin: 0.9rem auto 0;
    }
  }
}

.text-box_forecast{
  margin: 0;

  @include bp(md){
    padding: 3.1rem 15% 3.1rem;
    line-height: 121%;
  }

  @include bp(sm){
    padding: 2.1rem 11% 2.2rem;
  }

  &__line{
    width: 11.5%;
    border-top: 4px solid #14918F;
    margin: 85px 17.6% 3.3rem 2.6rem;
    height: 20.7rem;

    @include bp(md){
      width: 0;
      height: 7.3rem;
      margin: 0.9rem auto 1.8rem;
    }

    @include bp(sm){
      height: 5.4rem;
      margin: 4px auto 1.2rem;
    }

    &::before{
      left: auto;
      right: -0.9rem;

      @include bp(md){
        right: -0.6rem;
      }
    }
  }
}

// price-section_forecast
.price-section_forecast{
  padding-bottom: 5rem;

  @include bp(md){
    padding-top: 1.8rem;
    padding-bottom: 4rem;
  }

  @include bp(sm){
    padding-top: 1.6rem;
    padding-bottom: 2.1rem;
  }

  .price-section__content{
    @include bp(xxl-up){
      padding: 0.5rem 11.8% 0 12.5%;
    }

    @include bp(md){
      margin-top: -0.7rem;
    }

    @include bp(sm){
      margin-top: 0;
      padding-top: 0.2rem;
      grid-gap: 1.7rem 0;
    }
  }

  .title{
    @include bp(md){
      line-height: 118%;
    }
  }

  .price-item{
    @include bp(md){
      padding: 1.5rem 6rem 2.6rem;
    }

    @include bp(sm){
      padding: 1.2rem 5.2rem 1.3rem;
    }
  }

  .price-item__title{
    @include bp(md){
      font-size: 2rem;
    }

    @include bp(sm){
      font-size: 1.8rem;
    }
  }

  .price-item__body{

    @include bp(md){
      margin-top: 1.2rem;
    }
    
    @include bp(sm){
      margin-top: 1.3rem;
    }
  }
}

// faq-section_forecast
.faq-section_forecast{
  .faq-section__text{
    margin: 1.7rem 0 0 -0.7rem;

    @include bp(md){
      margin: -0.6rem 0 0 0.2rem;
    }

    @include bp(sm){
      margin-top: 0.3rem;
    }
  }

  .faq-item__body{
    padding-top: 3rem;

    @include bp(md){
      padding-top: 0.8rem;
    }

    @include bp(sm){
      padding-top: 1.5rem;
    }
  }

  .faq-section__image{
    margin-right: 0;

    @include bp(md){
      margin: 5rem auto 0;
    }

    @include bp(sm){
      margin-top: 1.2rem;
    }
  }
}