.d-none{
  display: none!important;
}

.align-items-center{
  align-items: center;
}

.justify-content-between{
  justify-content: space-between;
}

.justify-content-center{
  justify-content: center!important;
}

.justify-content-end{
  justify-content: flex-end;
}

.flex-column{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.d{
  &-block{
    display: block;
  }

  &-flex{
    display: flex!important;
  }

  &-inline-flex{
    display: inline-flex;
  }

  &-grid{
    display: grid;
    grid-gap: 2.3rem;
  }

  &-md{
      @include bp(md-up){
        &-none{
          display: none!important;
        }
        &-block{
          display: block!important;
        }
        &-inline{
          display: inline-block!important;
        }
        &-inline-flex{
          display: inline-flex!important;
        }
        &-flex{
          display: flex!important;
        }
        &-grid{
          display: grid!important;
          grid-gap: 2.3rem;
        }
      }
  }

  &-lg{
    @include bp(lg-up){
      &-none{
        display: none!important;
      }
      &-block{
        display: block!important;
      }
      &-inline-flex{
        display: inline-flex!important;
      }
      &-inline{
        display: inline-block!important;
      }
      &-flex{
        display: flex!important;
      }
      &-grid{
        display: grid!important;
        grid-gap: 2.3rem;
      }
    }
  }

  &-xl{
    @include bp(xl-up){
      &-none{
        display: none!important;
      }
      &-block{
        display: block!important;
      }
      &-inline-flex{
        display: inline-flex!important;
      }
      &-inline{
        display: inline-block!important;
      }
      &-flex{
        display: flex!important;
      }
      &-grid{
        display: grid!important;
        grid-gap: 2.3rem;
      }
    }
  }

  &-xxl{
    @include bp(xxl-up){
      &-none{
        display: none!important;
      }
      &-block{
        display: block!important;
      }
      &-flex{
        display: flex!important;
      }
      &-inline{
        display: inline-block!important;
      }
      &-grid{
        display: grid!important;
        grid-gap: 2.3rem;
      }
    }
  }

  &-xxxl{
    @include bp(xxxl-up){
      &-none{
        display: none!important;
      }
      &-block{
        display: block!important;
      }
      &-inline{
        display: inline-block!important;
      }
      &-grid{
        display: grid!important;
        grid-gap: 2.3rem;
      }
    }
  }

  &-xxxxl{
    @include bp(xxxxl-up){
      &-none{
        display: none!important;
      }
      &-block{
        display: block!important;
      }
      &-inline{
        display: inline-block!important;
      }
      &-grid{
        display: grid!important;
        grid-gap: 2.3rem;
      }
    }
  }
}

.grid{
  &-md{
    grid-gap: 4rem;
  }

  &-2{
    grid-template-columns: repeat(2, 1fr);
  }

  &-3{
    grid-template-columns: repeat(3, 1fr);
  }

  &-6{
    grid-template-columns: repeat(6, 1fr);
  }

  &-md-2{
    @include bp(md-up){
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-md-3{
    @include bp(md-up){
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-md-4{
    @include bp(md-up){
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &-lg-2{
    @include bp(lg-up){
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-lg-3{
    @include bp(lg-up){
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-xl-3{
    @include bp(xl-up){
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-xl-4{
    @include bp(xl-up){
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &-xl-5{
    @include bp(xl-up){
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &-xxxl-4{
    @include bp(xxxl-up){
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.col-2{
  grid-column: span 2;
}

.col-md-2{
  @include bp(md){
    grid-column: span 2;
  }
}

.col-3{
  grid-column: span 3;
}
.row-2{
  grid-row: span 2;
}

.row-md-2{
  @include bp(md){
    grid-row: span 2;
  }

  @include bp(sm){
    grid-row: span 1;
  }
}

.me{
  &-auto{
    margin-right: auto;
  }

  &-1{
    margin-right: 1rem;
  }

  &-2{
    margin-right: 2rem;
  }
}

.ms{
  &-auto{
    margin-left: auto;
  }
}

.mt{
  &-md{
    // margin-top: 4rem;
  }

  &-xl{
    // margin-top: 7.5rem;
  }
}

.mb{
  &-0{
    margin-bottom: 0;
  }

  &-tablet-0{
    @include bp(md){
      margin-bottom: 0 !important;
    }
  }

  &-xs{
    margin-bottom: 1.5rem;

    @include bp(sm){
      margin-bottom: 1rem;//form-block
    }
  }

  &-sm{
    margin-bottom: 3rem;

    @include bp(md){
      margin-bottom: 2.1rem;
    }

    @include bp(sm){
      margin-bottom: 1.4rem;
    }
  }

  &-md{
    margin-bottom: 4rem;

    @include bp(md){
      margin-bottom: 1.9rem;
    }
  }

  &-lg{
    margin-bottom: 5rem;
  }

  &-xl{
    margin-bottom: 7rem;

    @include bp(md){
      margin-bottom: 2.9rem;//form-section__content title
    }

    @include bp(sm){
        margin-bottom: 1.6rem;//form-section__content title
    }
  }

  &-xxl{
    margin-bottom: 8rem;


  }
}

.w-100{
  width: 100%!important;
  &_lg{
      @include bp(lg-up){
          width: 100%;
      }
  }
  &_md{
      @include bp(md){
          width: 100%;
      }
  }
  &_sm{
      @include bp(sm){
          width: 100%;
      }
  }
}

.order{
  &-md-2{
    @include bp(md-up){
      order: 2;
    }
  }

  &-lg-2{
    @include bp(lg-up){
      order: 2;
    }
  }
}