.icon{
    background-repeat: no-repeat;
    background-size: contain!important;
    background-position: 0 0;
    display: inline-block;
    flex-shrink: 0;

    &_double{
        position: relative;

        @include bp(hv){
            &:hover{
                &:before{opacity: 0;}
                &:after{opacity: 1;}
            }
        }

        &:before, &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            transition: all 0.3s ease-out;
        }
        &:after{
            opacity: 0;
        }
    }
    .active>&, .components-item.active &, a:active>&{
        &:before{opacity: 0;}
        &:after{opacity: 1;}
    }

    @include bp(hv){
        a:hover>&{
            &:before{opacity: 0;}
            &:after{opacity: 1;}
        }
    }
}
.icon-whatsapp-circle{
    background-image: url(../img/icons/whatsapp-circle.svg);
}
.icon-tg-circle{
    background-image: url(../img/icons/tg-circle.svg);
}
.icon-whatsapp-inversion-circle{
    background-image: url(../img/icons/whatsapp-inversion-circle.svg);
}
.icon-tg-inversion-circle{
    background-image: url(../img/icons/tg-inversion-circle.svg);
}
.icon-whatsapp-circle-nav{
    width: 4.1rem;
    height: 4.3rem;
    background-image: url(../img/icons/whatsapp-circle-nav.svg);
}
.icon-tg-circle-nav{
    width: 4.1rem;
    height: 4.1rem;
    background-image: url(../img/icons/tg-circle-nav.svg);
}
.icon-arrow-up{
    width: 1.6rem;
    height: 2.3rem;
    background-image: url(../img/icons/arrow-up.svg);
}
.icon-vk-inversion{
    width: 21px;
    height: 15px;
    background-image: url(../img/icons/vk-inversion.svg);

    @include bp(sm){
        width: 1.6rem;
        height: 1rem;
    }
}
.icon-tg-inversion{
    width: 2.1rem;
    height: 1.9rem;
    background-image: url(../img/icons/tg-inversion.svg);

    @include bp(sm){
        width: 1.6rem;
        height: 1.4rem;
    }
}
.icon-ins-inversion{
    width: 2.1rem;
    height: 2.2rem;
    background-image: url(../img/icons/ins-inversion.svg);

    @include bp(sm){
        width: 1.6rem;
        height: 1.7rem;
    }
}
.icon-youtube-inversion{
    width: 24px;
    height: 18px;
    background-image: url(../img/icons/youtube-inversion.svg);

    @include bp(sm){
        width: 1.9rem;
        height: 1.3rem;
    }
}

.icon-whatsapp-support{
    width: 5.7rem;
    height: 5.9rem;
    background-image: url(../img/icons/whatsapp-support.svg);

    @include bp(md){
      width: 4.2rem;
      height: 4.2rem;
    }
}

.icon-tg-support{
    width: 5.9rem;
    height: 5.9rem;
    background-image: url(../img/icons/tg-support.svg);

    @include bp(md){
      width: 4.1rem;
      height: 4.1rem;
    }
}

.icon-vk-support{
    width: 6.9rem;
    height: 6.9rem;
    background-image: url(../img/icons/vk-support.svg);

    @include bp(md){
      width: 5rem;
      height: 5rem;
    }
}

.icon-caret{
    width: 1.5rem;
    height: 2rem;

    &:before{
        background-image: url(../img/icons/caret.svg);
    }

    &:after{
        background-image: url(../img/icons/caret-active.svg);
    }
}

.icon-close{
    width: 3.4rem;
    height: 3.4rem;
    background-image: url(../img/icons/close.svg);
}

.icon-close-orange{
    width: 4rem;
    height: 4rem;
    background-image: url(../img/icons/close-orange.svg);
}

.icon-pagination-next{
    width: 2.4rem;
    height: 2.4rem;

    &:before{
        background-image: url(../img/icons/pagination-next.svg);
    }

    &:after{
        background-image: url(../img/icons/pagination-next-active.svg);
    }
}

.icon-pagination-end{
    width: 2.4rem;
    height: 2.4rem;

    &:before{
        background-image: url(../img/icons/pagination-end.svg);
    }

    &:after{
        background-image: url(../img/icons/pagination-end-active.svg);
    }
}

.icon-pagination-prev{
    width: 2.4rem;
    height: 2.4rem;

    &:before{
        background-image: url(../img/icons/pagination-prev.svg);
    }

    &:after{
        background-image: url(../img/icons/pagination-prev-active.svg);
    }
}

.icon-pagination-start{
    width: 2.4rem;
    height: 2.4rem;

    &:before{
        background-image: url(../img/icons/pagination-start.svg);
    }

    &:after{
        background-image: url(../img/icons/pagination-start-active.svg);
    }
}

.icon-caret-inversion{
    width: 1.4rem;
    height: 0.9rem;
    background-image: url(../img/icons/caret-inversion.svg);
}

.icon-arrow{
    width: 9.1rem;
    height: 2.4rem;
    background-image: url(../img/icons/arrow-add.svg);

    @include bp(md){
        background-image: url(../img/icons/arrow-add-tablet.svg);
        height: 1.6rem;
    }
}

.icon-quest{
    width: 2.2rem;
    height: 2.2rem;
    background-image: url(../img/icons/quest.svg);
}

.icon-check{
    width: 3.3rem;
    height: 2.6rem;
    background-image: url(../img/icons/check.svg);
}

.icon-minus{
    width: 2.4rem;
    height: 2.4rem;
    background-image: url(../img/icons/minus.svg);
}
