// consultation_personal
.consultation_personal{
  .consultation__image{
    margin: -1rem -0.2rem 0 -1rem;
  }

  .check-list{
    margin-top: 1.5rem;
  }
}

// way-section
.way-section{
  &__content{
    display: grid;
    grid-template-columns: 43.7% 43.5%;
    justify-content: space-between;
  }

  &__title{
    margin-bottom: 3rem;
  }

  &__col:first-child{
    position: relative;

    &::after{
      content: '';
      display: block;
      background: url(../img/icons/arrow-way.svg) 0 0 no-repeat;
      background-size: contain;
      width: 18.1rem;
      height: 2.4rem;
      position: absolute;
      left: 94.7%;
      top: 63.4%;
    }
  }
}

// author
.author-section {

  &__line{
    height: 15rem;
    margin: 1.4rem 0 -2.3rem 0.5rem;

    &-end{
      margin: 15px 0 3.5rem 4.4rem;
      width: 19.9rem;
      height: 13.3rem;
      border-top: 4px solid $primary;

      &:before{
        left: auto;
        right: -0.9rem;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 43.5% auto;
    grid-gap: 5.8%;
  }

  &__text {
  }

  &__image {
    margin-top: 10.5rem;
  }
}

// contents-section_personal
.contents-section_personal{
  margin-bottom: 0;

  @include bp(lg-up){
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .contents-section__content{
    @include bp(lg-up){
      margin: 0 0 3.9rem;
      padding: 30px 13.5% 0 12.8%;
      grid-gap: 3rem;
    }
  }

  .advantages-item{
    margin-top: 0;
    padding-top: 4rem;
    padding-right: 3rem;
  }

  .advantages-item__title{
    margin-bottom: 3rem;
  }
}

.additional{
  letter-spacing: 0.036rem;
  margin: 0 1.7rem 3.8rem 0;

  &__icon{
    margin-right: 4.3rem;
  }

  &__dropdown{
    margin: 1rem 0 0 1.5rem;
  }
}

// work-section
.work-section_personal{
  &__line{
    flex-grow: 1;
    border-bottom: 4px solid $primary;
    margin: 2.5rem 3.2% 1.9rem 4.3%;
    height: 16.3rem;

    &-end{
      width: 17.6%;
      margin: 15.5rem 11.2% 3.7rem 1.4rem;
    }
  }

  &__box{
    padding: 3.6rem 4rem 3.6rem 4.9rem;
    border-radius: 4rem;
  }
}

.work-section__content_personal{
  margin-bottom: 3rem;

  .work-section__image{
    align-self: flex-end;
    margin: 0 -2.7rem -1rem 1.5rem;
  }

  .work-section__text{
    padding: 2.5rem 0 0 2.5rem;
    margin-right: -5rem;
  }

  .steps-list-item{
    &:not(:last-child){
      margin-bottom: 6.5rem;
    }

    &:nth-last-of-type(2){
      margin-bottom: 3.5rem;
    }

    p{
      margin-top: 2.1rem;
    }
  }

  .steps-list-item__num{
    top: 0.4rem;
  }
}

// tariff-section
.tariff{
  &-section{
    border-radius: 4rem;
    padding: 7rem 9.8rem 6.5rem 10rem;

    @include bp(xxl){
      padding: 4rem;
    }

    @include bp(xl){
      padding: 2.9rem 4rem;
      border-radius: 2rem;
    }

    &__content{
      display: grid;
      grid-template-columns: auto 59.5%;

      @include bp(xl){
        grid-template-columns: 100%;
      }
    }

    &__group{
      display: grid;
      grid-template-columns: repeat(3, 33.33%);

      @include bp(xl){
        grid-template-columns: 100%;
      }
    }

    &__title{
      margin-bottom: 4.8rem;

      @include bp(xl){
        text-align: center;
      }

      @include bp(md){
        margin-bottom: 2.2rem;
      }
    }

    &-list{
      border-top: 1px solid #E5E5EB;
      border-bottom: 1px solid #E5E5EB;
      padding: 3rem 0 3rem;
      margin-bottom: 5.3rem;

      &__item{
        &:not(:last-child){
          margin-bottom: 2rem;
        }
      }
    }

    &__footer{
      @include bp(xl){
        width: fit-content;
        margin: -0.3rem auto 0;
      }

      p{
        margin-top: 0.6rem;

        @include bp(md){
          margin: 0.2rem 0 0.3rem;
        }
      }

      .title_size-md{
        @include bp(md){
          font-size: 1.8rem;
        }
      }
    }

    &__dropdown{
      margin: 0.2rem 0 -0.2rem 1.6rem;

      @include bp(md){
        margin: 0 0 -0.2rem 21px;
      }
    }
  }

  &-item {

    @include bp(xl){
      padding-bottom: 1.4rem;
      margin-bottom: 1.5rem;

      &:not(:last-child){
        border-bottom: 1px solid #E5E5EB;
      }
    }

		&__title {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #E5E5EB;
      margin: 2.9rem 0;
      padding-bottom: 4.6rem;

      @include bp(xxl-up){
        pointer-events: none;
      }

      @include bp(xl){
        justify-content: space-between;
        font-weight: bold;
        color: $dark;
        border: none;
        margin: 0;
        padding: 0;
        align-items: center;
      }

      @include bp(md){
        font-size: 1.8rem;
      }

      &.active .price-item__icon{
        background: #B6B6BD;
      }

      .price-item__icon{
        position: static;
      }
		}

		&__body {
		}

    &-list{
      @include bp(xl){
        margin-top: 2.4rem;
      }

      &__item{
        justify-content: center;
        align-items: center;
        
        &:not(:last-child){
          margin-bottom: 2rem;

          @include bp(xl){
            margin-bottom: 1.4rem;
          }
        }

        @include bp(xl){
          justify-content: space-between;
        }

        .icon-check{
          margin-left: 1.1rem;

          @include bp(xl){
            width: 2.6rem;
            height: 2rem;
            margin: 0.9rem 0.2rem -0.9rem 0;
          }
        }

        .icon-minus{
          margin-top: 0.3rem;

          @include bp(xl){
            margin: -0.1rem 0.8rem 0 0;
          }
        }
      }
    }

		&__price {
      border-top: 1px solid #E5E5EB;
      margin: 3rem 0 2rem;
      padding-top: 2.2rem;

      @include bp(xl){
        font-size: 2.6rem;
        font-weight: bold;
        color: $primary;
        border: none;
        padding: 0;
        margin: 2.5rem 0 1.5rem;
        font-family: Verdana, Arial, sans-serif;
      }
		}

    &__body{
      @include bp(xl){
        padding-bottom: 0.5rem;
      }
    }

    .btn{
      @include bp(md){
        padding: 1.1rem 4rem;
      }
    }
  }
}

// free
.free-section {

  &__line {
  }

  &__image {
    display: flex;
    justify-content: center;
  }
}
