
@import 'fonts';
@import 'reset';
@import 'mixin';
@import 'variables';
@import 'vendor';
@import 'grid';
@import 'icons';
@import 'buttons';
@import 'typography';






body{
    font: 400 2.4rem/normal 'PT Sans', Arial, sans-serif;
    font-variant-numeric: lining-nums;
    color: $black;
    background: #fff;

    @include bp(md){
        font-size: 1.6rem;
        line-height: 120%;
    }

    @include bp(sm){

    }

    &.overflow-none{
        overflow: hidden;
        @include bp(xl-up){
            padding-right: 1.7rem;
            .header{
                margin-right: 1.7rem;
            }
        }
    }
}

.wrap{
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
    width: 100%;

    @include bp(md-up){
        max-width: 728px;
    }

    @include bp(lg-up){
        max-width: 970px;
    }

    @include bp(xl-up){
        max-width: 1140px;
    }

    @include bp(xxl-up){
        max-width: 1360px;
    }

    @include bp(xxxl-up){
        max-width: 1560px;
    }
}

.content{
    padding-bottom: 21.6rem;

    @include bp(md){
        padding-bottom: 7.8rem;
    }

    @include bp(sm){
        padding-bottom: 4.8rem;
    }

    &_padding{
        padding-top: 15.04rem;

        @include bp(xl){
            padding-top: 9rem;
        }

        @include bp(sm){
            padding-top: 7.1rem;
        }
    }

    &_bg{
        background: url(../img/bg.jpg) 50% 0 no-repeat;
    }
}

.section{
    margin-top: 13rem;

    @include bp(md){
      margin-top: 8.2rem;
    }

    @include bp(sm){
        margin-top: 7.1rem;
    }
}

.zoom-link{
    display: block;
    overflow: hidden;

   @include bp(hv){
    &:hover{
        img{
            transform: scale(1.1);
        }
    }
   }

    img{
        transition: all 0.3s ease-out;
    }
}

.pos-rel{
    position: relative;
    z-index: 1;
}
.img-fluid{
    display: block;
    max-width: 100%;
}
.img-fill{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bg{
    &_primary{

    }

    &_light{
        background: $light;
    }
}

.w-100{
    width: 100%!important;
    &_lg{
        @include bp(lg-up){
            width: 100%;
        }
    }
    &_md{
        @include bp(md){
            width: 100%;
        }
    }
    &_sm{
        @include bp(sm){
            width: 100%;
        }
    }
}



// swiper
.swiper{
    &-pagination{
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;

        &-bullet{
            width: 1.5rem;
            height: 1.5rem;
            margin: 0 0.5rem;
            opacity: 1;
            background: $orange;
            opacity: 0.5;
            transition: all 0.3s ease-out;

            &-active{
                width: 2rem;
                height: 2rem;
                opacity: 1;
            }

            @include bp(hv){
                &:hover{
                    opacity: 1;
                }
            }
        }
    }

    &-button-prev, &-button-next{
        width: 7.8rem;
        height: 7.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all 0.3s ease-out;
        background: #F8FCFF;
        margin: 0;
        top: 27.5%;

        @include bp(md){
            top: 39.4%;
            height: 5rem;
            width: 5rem;
        }

        @include bp(sm){
            top: 40.4%;
            width: 3.8rem;
            height: 3.8rem;
        }

        @include bp(hv){
            &:hover{
                // background: $light;
            }
        }

        &:after{
            display: none;
        }

        @include bp(hv){
            &:hover{
                opacity: 0.7;
            }
        }
    }

    &-button-prev{
        background: url(../img/icons/prev.svg) 0 0 no-repeat;
        background-size: contain;
    }

    &-button-next{
        background: url(../img/icons/next.svg) 0 0 no-repeat;
        background-size: contain;
    }
}

// breadcrumb
.breadcrumb{
    margin: 3.2rem 0 1.4rem;
    font-size: 1.2rem;
    line-height: 2.8rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    @include bp(md){
        font-size: 1rem;
        line-height: 1.2rem;
        margin: 1.7rem 0 0.5rem;
    }
    &__item{
        margin-bottom: 1rem;
    }
    &__item+&__item{
        &:before{
            content: '–';
            color: #000;
            display: inline-block;
            margin: 0 0.7rem;
            @include bp(md){
                margin: 0 0.55rem;
            }
        }
    }
}

// pagination
.pagination{
    margin: 4rem 0 6rem;
    font-size: 1.4rem;
    line-height: 2rem;
    @include bp(md){
        margin: 3.1rem 0 3.9rem;
    }
    &__item{
        margin: 0 0.9rem 1rem;
    }
    &__link{
        &_circle{
            border: 1px solid #000;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 4.4rem;
            height: 4.4rem;
            margin: 0 0.9rem;
        }
    }
}

// support
.support{
    position: fixed;
    bottom: 2rem;
    right: 5.9rem;
    z-index: 5;

    @include bp(md){
      right: 3.5rem;
    }

    @include bp(sm){
        right: 1.5rem;
    }

    &__dropdown-toggle{
        width: 11.7rem;
        height: 11.7rem;
        border-radius: 50%;
        background: url(../img/icons/support.svg) 0 0 no-repeat;
        background-size: contain;
        padding: 0;

        @include bp(md){
            width: 5.9rem;
            height: 5.9rem;
        }

        @include bp(hv){
            &:hover{
                opacity: 0.7;
            }
        }

        &::after{
            display: none;
        }
    }

    &__dropdown-menu{
        right: 0;
        bottom: 100%;
        top: auto;
        min-width: 20.2rem;
        margin-bottom: 2.7rem;
        overflow: visible;

        @include bp(sm){
            min-width: 10rem;
            border-radius: 2rem;
        }

        &:after{
            content: '';
            display: block;
            width: 6.2rem;
            height: 5.6rem;
            background: url(../img/dropdown.png) 0 0 no-repeat;
            background-size: contain;
            right: 0;
            bottom: -2.8rem;
            position: absolute;
        }
    }

    &-list{
        &__item{
            @include bp(sm){
                width: 3rem;
                height: 3rem;
                position: relative;
                z-index: 2;
            }

            &:not(:last-child){
                margin-bottom: 1.8rem;

                @include bp(sm){
                    margin-bottom: 1rem;
                }
            }

            @include bp(hv){
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
}


@import 'form';
@import 'header';
@import 'home';
@import 'footer';
@import 'review';
@import 'about';







